.content {
  display: flex;
}

.left-side {
}

.left-side textarea {
  min-width: 250px;
  min-height: 100px;
}

.right-side {
  flex-grow: 1;
}

.mindmap-container {
}

.group-btn {
  height: 25px;
}

.group-picker {
  height: 21px;
}
