.content {
  display: flex;
  min-height: 100%;
}

.left-side {
}

.left-side textarea {
  min-width: 250px;
  min-height: 100px;
}

.right-side {
  flex-grow: 1;
  min-width: 250px;
}

#mindmap-container-wrapper {
  overflow: hidden;
  height: 100%;
  border: 2px solid darkgrey;
}

#mindmap-container {
  height: 100%;
}

.jsmind-inner {
  overflow: initial !important;
  width: initial;
  height: initial;
}

.group-btn {
  height: 25px;
}

.group-picker {
  height: 21px;
}

.hidden {
  display: none;
}
